.infocard {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Futura';
	color: gray;
}

.infocard img {
	float: left;
	width: auto;
	height: auto;
	max-width: 100px;
	max-height: 100px;
	border-radius: 0%;
	margin: 12px 10px 0px 10px;
}

.infocard div {
	margin: 10px 10px 10px 10px;
	font-size: 12px;
	line-height: 12px;
}