a {
	text-decoration: none;
}

.postcard {
	position: relative;

	border: 1px solid black;
	height:256px;
	width: 256px;

	transform-origin: left;
	transform: rotateY(30deg);
	transition: left 250ms linear;

	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: white;
}

.postcard:hover {
	max-width: 100%;
	transform: scale(2.5);
	z-index: 2000;
	background-color: white;
	opacity: 1;
}

.postcard:hover .title, .date {
	display: block;
	margin: 4px;
} 

.postcard:hover .text_section {
	display: block;
	width: 100%;
} 

.postcard:hover .date {
	display: block;
}

.title {
	display: none;
	text-align: center;
	font-size: 10px;
	white-space: initial;
	color: black;
}

.date {
	display: none;
	text-align: center;
	font-size: 6px;
	color: grey;
}

.img {
	min-width: 0px;
	min-height: 0px;

	max-height: 100%;
	max-width: 100%;

	height: auto;
	width: auto;

	flex: 1 1 auto;

	margin: 4px;
}

.text_section {
	text-align: center;
	flex: 0 1 content;
}









