a {
	text-decoration: none;
}

.postcard {
	position: relative;
	border: 1px solid black;
	height:100%;
	width: 100%;
	transform-origin: left;
	transform: rotateY(30deg);
	transition: left 250ms linear;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
}

@media screen and (min-width: 500px) and (min-height: 500px) {
	.postcard {
		height: 256px;
		width: 256px;
	}

	.active {
		height: 512px;
		width: 512px;
	}

	.title {
		text-align: center;
		font-size: 24px;
		white-space: initial;
		color: black;
	}

	.date {
		text-align: center;
		font-size: 16px;
		color: grey;
	}
}

@media screen and (max-width: 500px) {
	.postcard {
		height: 25vw;
		width: 25vw;
	}

	.active {
		height: 66vw;
		width: 66vw;
	}
}

@media screen and (max-height: 500px) {
	.postcard {
		height: 25vh;
		width: 25vh;
	}

	.active {
		height: 66vh;
		width: 66vh;
	}
}

@media screen and (max-height: 500px), screen and (max-width: 500px) {
	.title {
		text-align: center;
		font-size: 16px;
		white-space: initial;
		color: black;
	}

	.date {
		text-align: center;
		font-size: 12px;
		color: grey;
	}
}

.postcard:hover {
	opacity: 0.4;
}

.text_section {
	text-align: center;
	flex: 0 1 content;
}

.img {
	min-width: 0px;
	min-height: 0px;
	max-height: 100%;
	max-width: 100%;
	height: auto;
	width: auto;
	flex: 1 1 auto;
	margin: 4px;
}
