.post {
	max-width: 800px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.heading {
	text-align: center;
}

.date {
	color: grey;
	font-style: italic;
}

.content {

}

.content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}

.content small {
	text-align: center;
}