.container {
	height: 75vh;
	border: 1px solid red;
	display: flex;
	align-items: center;
}

.rolodex_outer {
	border: 1px solid #E0E4E4;
	perspective: 400px;
	width: 10000%;
}

.rolodex_inner {
	white-space: nowrap;
}

.arrow {
	position: sticky;
	z-index: 100;
	background-color: white;
	padding-top: calc((256px - 28px) / 2 + 7px);
	padding-bottom: calc((256px - 28px) / 2 + 7px);
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.arrow img {
	height: 28px;
	width: 28px;
}

