.container {
	display: flex;
	align-items: center;	
	justify-content: center;
}

.rolodex_outer {
	border: 1px solid gray;
	perspective: 400px;
	width: 100%;
}

.rolodex_inner {
	white-space: nowrap;
}

.arrow {
	text-align: center;
	position: relative;
	cursor: pointer;
	z-index: 0;
	background-color: white;
}

.arrow img {
	height: 28px;
	width: 28px;
}

