.navbar {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	font-family: 'Futura';
}

.navbar li {
	display: inline;
	font-weight: bold;
	color: gray;
}

.navbar li:hover {
	color: black;
	transition: color 750ms linear 0s;
	cursor: pointer;
}

.navbar_image {
	cursor: pointer;
	max-width: auto;
	max-height: 56px;
}

.navbar_container {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	display: grid;
	grid-template-columns: 20% 80%;
	border-bottom: 1px solid gray;
}




