.posts_body {
/*	width: 100%;
	height: 100vh;
	overflow: hidden;*/
}

.navbar_container {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

.rolodex_container {
	margin-top: 128px;
}