.navbar_container {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1;
	opacity: 1.0;
}

.rolodex_container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.active_post {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
